body{
    margin: 100px;
}
/*section and division*/
#mission{
    background-color: turquoise;
}
#vision{
    background-color: aqua;
}
#goals{
    background-color: wheat;
}

/*color*/
.orange{
    color: orange;
}
.darksalmon{
    color: darksalmon;
}
/*Direct Types*/
h1{
    font-size:50px;
}
footer{
    background-color: black;
    color: white;
    text-align: center; 
}
/*lining*/
.flexible{
    display: flex;
    border: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
.half_wide{
    width: 50%;
}
.one_third{
    width: 480px;
    margin-left: 10px;
    margin-right: 10px;
    padding: 20px;
    border-radius: 20px;
}
.center{
    text-align: center;
}
/*Others*/
.btn{
    color: white;
    background-color:sandybrown;
    height: 40px;
    width: 100px;
    font-weight: bold;
    border-radius: 10%;
}
.curvefont{
    font-family: cursive;
    font-weight: bold;
}
#firstheader{
    border-left: 5px solid sandybrown;
    border-radius: 2px;
    padding-left: 5px;
}